sl  Generated template for the newRecipe.page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Recipes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6>
        <ion-list>
          <recipe *ngFor='let recipe of recipes' [recipe]='recipe'></recipe>
          <!-- <button ion-item *ngFor='let recipe of recipes' (click)='goToRecipe(recipe)'>
            <h2>{{ recipe.name }}</h2>
            <p>{{ recipe.servings }} Servings</p>
            <p>{{ recipe.caloriesPerServing || '??' }} cals, <span *ngIf="recipe.cost">${{ recipe.costPerServing | number:'1.2-2' }}</span><span *ngIf="!recipe.cost">??</span> per serving</p>
          </button> -->
        </ion-list>
        <button ion-button (click)="showRecipeForm()" *ngIf="auth.isAuthenticated()">New Recipe</button>
      </ion-col>
      <ion-col col-12 col-md-6>
        <!-- <ion-card>
          <ion-card-header>
            <h1>Ingredients</h1>
          </ion-card-header>
          <ion-card-content>
            <button ion-item *ngFor='let ingredient of ingredients' (click)='goToIngredient(ingredient)'>
              <h2>{{ ingredient.name }}</h2>
            </button>
      		  <button ion-button (click)="showIngredientForm()" *ngIf="auth.isAuthenticated()">New Ingredient</button>
          </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
