// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content,
.content-md,
.content-ios {
  background-color: color($colors, light, base);
}

.tabs-md .tabbar,
.tabs-ios .tabbar {
  background-color: color($colors, light, base);
}

.toolbar-md-light .toolbar-background-md {
  background-color: color($colors, light, base);
}

.toolbar-md-light .bar-button-clear-md,
.toolbar-md-light .bar-button-default-md,
.toolbar-md-light .bar-button-outline-md,
.toolbar-md-light .toolbar-title-md {
  color: color($colors, primary, base);
}

.header-md::after {
  background-image: none;
}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
}

.title {
  font-family: 'Titillium';
}

.tagline {
  font-family: 'Noto Serif', serif;
}

h1, h2 {
  font-family: 'Montserrat Alternates';
}

body {
  font-family: 'Titillium';
}
