$ctaColorOpacity: 0.5;

page-mirror {
  .mirror {
    background-color: black;
    color: white;
    position: relative;
    height: 100%;
    font-size: 200%;
  }
  .top {
    margin-top: 10px;
  }
  .bottom {
    position: absolute;
    bottom: 10px;
  }
  .right {
    text-align: right;
    position: relative;
    right: 10px;
  }
  .bottom .right {
    position: absolute;
        bottom: 0;
            margin-left: 25%;
  }

  .fullscreen-button {
    position: absolute;
    right: 20px;
    top: 5px;
  }

  .quote {
    padding: 20px;
    width: 100%;
    font-size: 22px;
  }

  .forecast {
    width: 100%;
    
    .today-weather {
      line-height: 1;
    }
    .today-summary {
      margin-bottom: 10px;
    }
    .weekly-summary, 
    .today-summary {
      font-size: 70%;
      display: block;
      margin-left: 25%;
    }
    .weekly-summary {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .daily {
      font-size: 22px;
    }
    .today-weather {
      font-size: 300%;
    }
  }

  .datetime {
    .date {
      margin-left: 20px;
      font-size: 170%;
    }

    .time {
      font-size: 300%;

    }
  }

  .cta {
    .dest {
      width: 100%;
      margin-bottom: 5px;
    }

    .destName {
      min-width: 150px;
      display: inline-block;
      width: 150px;
    }

    .arrival {
      display: inline-block;
      margin-right: 5px;
    }

    .brown {
      background-color: rgba(98,54,27,$ctaColorOpacity);
    }

    .red {
      background-color: rgba(198,12,48,$ctaColorOpacity);
    }

    .purple {
      background-color: rgba(82,35,152,$ctaColorOpacity);
    }

    .blue {
      background-color: rgba(0,161,222,$ctaColorOpacity);
    }

    .green {
      background-color: rgba(0,155,58,$ctaColorOpacity);
    }

    .orange {
      background-color: rgba(249,70,28,$ctaColorOpacity);
    }

    .pink {
      background-color: rgba(226,126,166,$ctaColorOpacity);
    }

    .yellow {
      background-color: rgba(249,227,0,$ctaColorOpacity);
    }
  }
}
